<div class="main-container">
    <div class="left-container">
        <h1>Listado de peliculas</h1>

        <mat-form-field appearance="fill">
            <mat-label>Buscar peliculas</mat-label>
            <input matInput type="text" id="input-text" (input)="filterMovies()">
            <button matSuffix>
                <mat-icon matSuffix>search</mat-icon>
            </button>
        </mat-form-field>

        <mat-card *ngFor="let movie of moviesService.filteredMovies">
            <div (click)="setMovieId(movie.id)">
                {{movie.title}}
            </div>
        </mat-card>
    </div>
    
    <div class="right-container" *ngIf="movieId!==''">
        <h1>Descripción del componente</h1>
        <app-movie-description [movieId]="movieId"></app-movie-description>
    </div>
</div>
